@model IEnumerable<MVCRecapture.Models.Genre>

@{
    ViewData["Title"] = "Index";
}

<h1>Genres</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subgenre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subgenre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {name = item.Name}) |
                @Html.ActionLink("Details", "Details", new {name = item.Name}) |
                @Html.ActionLink("Delete", "Delete", new {name = item.Name})
            </td>
        </tr>
}
    </tbody>
</table>
